<footer>
    <div class="container">
        Weitere Informationen finden Sie unter <a href="https://www.bundesamtsozialesicherung.de/" target="_blank">www.bundesamtsozialesicherung.de</a>
    </div>
</footer>