{% extends "basic-layout.njk" %}
{% from "../templates/macros/blog-artikel.njk" import blogArtikel %}

{% block content %}

  <h1>Blog</h1>
  <p>Hier finden Sie aktuelle Informationen...</p>

  <section class="blog">
    {{ blogArtikel("20.05.2021", "/dist/blog/it-grundschutz-baustein-fuer-consul.html", "IT-Grundschutz Baustein Entwurf für Consul", "Wir im Bundesamt für Soziale Sicherung haben in den vergangenen 3,5 Jahren unsere gesamte Anwendungslandschaft von klassischen VMs und 
    Application Servern mit mehreren Applikationen hin zu einer dynamischen verteilten Infrastruktur auf Basis von Container-Technologien entwickelt.
    Einer der ersten Bausteine dieser inzwischen vollständigen Cloud-Infrastruktur war Hashicorp Consul, welches zu Beginn zunächst als Service-Discovery
    zum Einsatz kam, gefolgt von Service-Configuration und zuletzt Service-Mesh Funktionalitäten. Für dieses Werkzeug ist dieser Baustein Entwurf,
der gerne kommentiert werden kann. Eure Anregungen schickt ihr bitte an devSupport@bas.bund.de! ") }}


    {{ blogArtikel("11.05.2021", "/dist/blog/bsi-it-grundschutz-baustein-keycloak.html", "BSI veröffentlicht IT-Grundschutz Baustein für Keycloak", "Das 
    BSI (Bundesamt für Sicherheit in der Informationstechnik) hat den von uns erstellten benutzerdefinierten IT-Grundschutz Baustein für den Identity- und Accessmanagement Dienst 
    Keycloak veröffentlicht. Dieser kann als Standard-Baustein für die Erstellung von IT-Sicherheitskonzepten verwendet werden.") }}
    
    {{ blogArtikel("11.03.2021", "/dist/blog/it-grundschutz-baustein-fuer-keycloak.html", "IT-Grundschutz Baustein Entwurf für Keycloak", "Wir im Bundesamt für 
    Soziale Sicherung verwenden bereits seit ca. 5 Jahren Keycloak sowohl intern als SSO Lösung für viele Anwendungen mit Anbindung an einen Verzeichnisdienst,
     als auch im Internet für diverse Online-Angebote unserer Behörde. Zuletzt unter anderem auch für die Anbindung des Nutzerkontos Bund im Rahmen des Onlinezugangsgesetzes (OZG).") }}
  </section>

{% endblock %}