{% extends "basic-layout.njk" %}
{% from "../templates/macros/blog-artikel.njk" import blogArtikel %}

{% block content %}

  <h1>Blog</h1>
  <p>Hier finden Sie aktuelle Informationen...</p>

  <section class="blog">
    {{ blogArtikel("11.03.2021", "/dist/blog/it-grundschutz-baustein-fuer-keycloak.html", "IT-Grundschutz Baustein für Keycloak", "Wir im Bundesamt für Soziale Sicherung, wo ich die Softwareentwicklung leite, verwenden bereits seit ca. 5 Jahren Keycloak sowohl intern als SSO Lösung für viele Anwendungen mit Anbindung an einen Verzeichnisdienst, als auch im Internet für diverse Online-Angebote unserer Behörde. Zuletzt unter anderem auch für die Anbindung des Nutzerkontos Bund im Rahmen des Onlinezugangsgesetzes (OZG).") }}
  </section>

{% endblock %}