{% extends "basic-layout.njk" %}
{% block content %}

    <h1>Knowledge-Base</h1>
    <p>Wir stellen in diesem Bereich gesammeltes Wissen der breiten Öffentlichkeit zur Verfügung.</p>
    <p>Wir erhoffen uns dadurch, dass vor allem andere Behörden und Institutionen, leichter und schneller an notwendige Informationen kommen, die Sie für Ihr tägliches IT-Geschäft benötigen.</p>

    <ul>
        <li>OZG (Onlinezugangsgesetz)
            <ul>
                <li>Nutzerkonto Bund</li>
            </ul>
        </li>
    </ul>
{% endblock %}